h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: midnightblue;
    display: inherit;
}


h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: midnightblue;
    display: inherit;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: steelblue;
    display: inherit;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
    position: relative;

}

ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;            
}

a{
    text-decoration: none;
    color: blue;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li:hover a{
    text-decoration: underline;
}

p:hover a{
    text-decoration: underline;
}

span:hover a{
    text-decoration: underline;
}

p > strong{
    color: blue;  
    font-weight: bold;  

}

p > b{
    color: blue;  
    font-weight: bold;  

}

p > i{
    color: blue;  
    font-style: italic;  

} 

p > u{
    text-decoration: underline;

}

p > a{
    color: blue;  
    text-decoration: underline dotted;

}

p > em{
    font-style: italic;
}

q{
    font-style: italic;

}

blockquote { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
  }

figcaption{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-style: italic;
    
}

button:hover{
    background-color: lightskyblue;
}